@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --header-height: 3rem;

  --body-font: 'Poppins', sans-serif;

  --hue-color: 250;
  --first-color: hsl(var(--hue-color), 69%, 61%);
  --first-color-second: hsl(var(--hue-color), 69%, 61%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --nav-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --bg-color:white;
  --container-color: #FFF;
  --gray:rgb(235, 235, 235);

  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  --font-medium: 500;
  --font-semi-bold: 600;

  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;




}

@media screen and (min-width:968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

[data-theme="dark"]{
  --first-color-second: hsl(var(--hue-color), 30%, 8%);
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --input-color: hsl(var(--hue-color), 29%, 16%);
  --bg-color:  hsl(var(--hue-color), 28%, 12%);
  --container-color:hsl(var(--hue-color),29%,16%);
  --gray:hsl(var(--hue-color), 30%, 8%);
  --nav-color:#6a55b5
}


.nav_btns{
  display:flex;
  align-items:center

}
.change-theme{
  font-size:1.3rem;
  color:var(--title-color);
  margin-right: var(--mb-1);
  cursor: pointer;

}
.change-theme:hover{
  color:var(--first-color)

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

html {
  scroll-behavior: smooth;
}
.App{
  background-color: var(--bg-color);
  transition: .1s;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent; 
}
body {
  margin: 0 0 var(--header-height);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: .1s;



}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);


}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.section_title {
  font-size: var(--h1-font-size);
  padding-top: 2rem;
}

.section_subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 2rem;
}

.section_title,
.section_subtitle {
  text-align: center;
}

.container {
  max-width: 786px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);

}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--bg-color);
}

.nav {
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_logo,
.nav_toggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
  font-size: 1.1rem;
  

}

.nav_logo:hover {
  color: var(--first-color)
}

.nav_toggle {
  font-size: 1.4rem;
  cursor: pointer;
  color: var(--first-color-alt);
}

.nav_toggle:hover {
  color: var(--first-color)
}
#manipal a{
  text-decoration: none;
  color: var(--first-color-alt);
}

@media screen and (max-width:767px) {
  .nav_menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--bg-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(31, 31, 31, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 850ms;
    
    



  }

  .nav_menu.active {

    bottom: 0;
    transition: 300ms;




  }

  .nav_list {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

  }

  .nav_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
  }

  .nav_link:hover {
    color: var(--first-color)
  }

  .nav_icon {
    font-size: 1.2rem;
  }

  .nav_close {
    position: absolute;
    right: 1.4rem;
    bottom: .4rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
  }

  .nav_close:hover {
    color: var(--first-color-alt);

  }

}

/* ------ */

.home_container {
  gap: 1rem;
  height: 95vh;

}

.home_content {
  grid-template-columns: .5fr 3fr;
  
  align-items: center;
}

.home_social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home_social-icon {
  font-size: 1.25rem;
  color: var(--first-color);
}

.home_social-icon:hover {
  color: var(--first-color-alt)
}

.home_blob {
  fill: var(--first-color);
  width: 200px;
}

.home_blob-img {
  width: 170px;
}

.home_data {
  grid-column: 1/3;
}

.home_title {
  font-size: var(--big-font-size)
}

.home_subtitle {
  font-size: var(--h3-font-size);
  color: var(--text-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-75);


}

.home_description {
  margin-bottom: var(--mb-2);
}

.home_scroll {
  display: none;

}

.home_scroll-button {
  color: var(--first-color);
  transition: .3s
}

.home_scroll-button:hover {
  transform: translateY(.25rem);
}

.home_scroll-mouse {
  font-size: 2rem;

}

.home_scroll-name {
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-25);

}

.home_scroll-arrow {
  font-size: 1.25rem;
}

.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #FFF;
  padding: .7rem 1rem;
  border-radius: .6rem;
  font-weight: var(--font-medium);

}

.button:hover {
  background-color: var(--first-color-alt);
}

.button_icon {
  font-size: 1.25rem;
  margin-left: var(--mb-0-5);
  transition: .5s
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

.about {
  background-color:var(--gray);
  
}

.about_description {
  text-align: justify;
  text-justify: inter-word;
  margin-bottom: var(--mb-2-5);



}
.skills_container{
  row-gap: 0;
  
}
.skills_header{
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-2-5);
  cursor: pointer;

}
.skills_icon,.skills_arrow{
  font-size: 2rem;
  color:var(--first-color)

}
.skills_icon{
  margin-right:var(--mb-0-75) ;
}


.skills_title{
  font-size: var(--h3-font-size);

}
.skills_subtitle{
  font-size: var(--small-font-size);
  color:var(--text-color-light)
}
.skills_arrow{
  margin-left: auto;
  transition: .4s;
}
.skills_title{
  display: flex;
  justify-content:space-between;
  margin-bottom: var(--mb-0-5);

}
.skills_name{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}
.skills_close .skills_list{
  height: 0;
  overflow: hidden;
  transition: .4s;


}
.skills_open .skills_list{
  height:max-content;
  margin-bottom:var(--mb-2-5) ;
  transition: .4s;

}
.skills_open .skills_arrow {
  transform: rotate(-180deg);
}
.portfolio_button{
  width:9.9rem;
  
}
.portfolio_container{
  overflow: initial;
}
.portfolio_content{
  padding: 0 1.5rem;
}
.portfolio_image{
  width:265px;
  border-radius: .5rem;
}
.portfolio_title{
  font-size: var(--h3-font-size);
  

}
.portfolio_description{
  text-align: justify;
  text-justify: inter-word;
  margin-bottom: var(--mb-0-75);
}
.portfolio_button:hover .button_icon{
  transform:translateX(.5rem)
}
.portfolio_content{
  padding-bottom: 2rem;
}
.contact_icon{
  font-size: 2rem;
  color:var(--first-color);
  margin-right: var(--h3-font-size);
}
.contact_title{
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}
.contact_subtitle{
  font-size: var(--small-font-size);
  color:var(--text-color-light)
}
.footer{
  padding-top: 2rem;
}
.footer_container{
  row-gap: 3.5rem;
  

}
.footer_bg{
  background-color: var(--first-color-second);
  padding: 2rem 0 3rem;
}
.footer_title{
  font-size: var(--h1-font-size);
  margin-bottom:var(--mb-0-25);
}
.footer_subtitle{
  font-size: var(--small-font-size);
}
.footer_links{
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;

}
.footer_link:hover{
  color:var(--first-color-lighter)

}
.footer_social{
  font-size: 1.25rem;
margin-right: var(--mb-1-5);
}
.footer_social:hover{
  color:var(--first-color-lighter)

}
.footer_copy{
  font-size:var(--small-font-size);
  text-align: center;
  color:var(--text-color-light);
  margin-top: var(--mb-3);

}
.footer_title,.footer_subtitle,.footer_link,.footer_social{
  color:#FFF

}

@media screen and (min-width:560px) {
.home_content{
  grid-template-columns: max-content 1fr 1fr;
}  
.home_data{
  grid-column: initial;
}
.home_img{
  order:1;
  justify-self:center
}
.about_container{
  grid-template-columns: repeat(2,1fr);

}
.footer_container{
  grid-template-columns: repeat(2,1fr);
}
}
@media screen and (min-width:768px){
  .container{
    margin-left:auto ;
    margin-right: auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  body{
    margin:0
  }
  .section{
    padding: 6rem 0 2rem;
  }
  .section_subtitle{
    margin-bottom: 4rem;
  }
  .header{
    top:0;
    bottom: initial;

  }
  .header,.main,.footer_container{
    padding: 0 1rem;


  }
  .nav{
    
    column-gap: 1rem;
  }
  
  .nav_icon,.nav_close,.nav_toggle{
    display:none ;
  }
  .nav_list{
    display: flex;
    column-gap: 2rem;
  }
  .nav_link{
    color: var(--nav-color);
    transition: .3s;
  }
  .nav_link:hover{
    color:#b4a2f5
  }
  .nav_menu{
    margin-left:auto ;
  }
  .change-theme{
    margin: 0;
  }
  .home_container{
    row-gap: 5rem;
  }
  .home_content{
    
    column-gap: 2rem;
  }
  .home_blob{
    width:270px;

  }
  .home_scroll{
    display: block;
  }
  .home_scroll-button{
    margin-left: 3rem;
  }
  .about_container{
    column-gap: 5rem;
  }
  .about_img{
    width:350px
  }
  .about_description{
    text-align: initial;
  }
  .about_info{
    justify-content: space-between;
  }
 
  .portfolio_image{
    width:320px
  }
  .portfolio_button{
    width: 10.5rem;
  }
  .portfolio_content{
    align-items: center;
  }
  .footer_container{
    grid-template-columns: repeat(3,1fr);
  }
  .footer_bg{
    padding:3rem 0 3.5rem;
  }
  .footer_links{
    flex-direction: row;
    column-gap: 2rem;
  }
  .footer_social{
    justify-self: flex-end;


  }
  .footer_copy{
    margin: 2rem;  }
  


}
@media screen and (min-width:1024px) {
  .header,.main,.footer_container{
    padding:0
  }
  .home_blob{
    width:320px
  }
  .home_social{
    transform: translateX(-6rem);
  }
  .portfolio_content{
    column-gap: 5rem;
  }
  .section {


    padding-top: 15%;
  
  
  
  }
}
